@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<IronWorkoutTracker.Domain.Entities.WorkoutProgram>

<h2>Workout Programs</h2>

<a asp-controller="WorkoutProgram" asp-action="Create" class="btn btn-primary">
    Create New Workout Program
</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
            <td>
                <a asp-controller="WorkoutProgram"
                   asp-action="Edit"
                   asp-route-id="@item.WorkoutProgramId">
                    Edit
                </a>
                <a asp-controller="WorkoutProgram"
                   asp-action="Details"
                   asp-route-id="@item.WorkoutProgramId">
                    Details
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

